body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: "Mukta", sans-serif;
}

.content {
  max-width: 100%;
  min-height: 95vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: 0 solid #dcdcdc;
  box-sizing: border-box;
}

.container {
  color: #fff;
  border: 0 solid #fff;
  padding: 30px 20px;
  box-sizing: border-box;
  max-width: 1200px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.ej_logo {
  color: #fe1b7d;
  font-weight: 700;
}

.info {
  text-align: center;
}

.info h1 {
  font-size: 45px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.info p {
  padding: 10px 0;
  font-size: 22px;
}

.buttons {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  padding-top: 20px;
}

.buttons a {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
  background-color: #fe1b7d;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 18px;
}

.buttons a:hover {
  border: 2px solid #ff52b4;
}

.buttons a img {
  margin-left: 10px;
}

.copyright {
  text-align: center;
  color: #dcdcdc;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  border: 0 solid red;
  width: 100%;
  padding: 10px 0;
}

@media screen and (max-width: 378px) {
  .buttons a:last-child {
    margin-top: 15px;
  }
}
